h1 {
    margin-bottom: -5px;
    color: orange;
}

p {
    margin-bottom: -10px;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
}

#but {
    text-align: center;
    width: 150px;
    height: 50px;
    margin: 0 0 0px 10px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: darkblue;
    border-color: darkblue;
}

.cell {
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.cell :active {
    outline: none;
}

#b1 {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#b2 {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left:1px solid gray ;
}
#b3 {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
#b4{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

#b5 { 
    border: 1px solid gray; 
} 
  
#b6 { 
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#b7 { 
    border-top: 1px solid gray; 
    border-right: 1px solid gray; 
} 
  
#b8 { 
    border-top: 1px solid gray; 
    border-right: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#b9 { 
    border-top: 1px solid gray; 
    border-left: 1px solid gray; 
} 

#main {
    text-align: center;
}

#ins {
    font-style: italic;
    font-size:x-large;
    color: rgb(185, 9, 9);
  
}

#print {
    font-size: xx-large;
    font-weight: bold;
    color: blue;
}